.nav-bar
{
    height: 7vh;
    width: 100%;
    background-color: #87A2FB;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

    display: flex;
    align-items: center;
    position: fixed;
}

.nav-bar-link-brand
{
  text-decoration: none;
}
.nav-bar-brand
{
  margin-left: 2.5rem;
  font-size: 1.25rem;
  color: white;
}

.nav-bar-brand span{
  color: #400D51;
}
