/* temperature-body */
.temp-body
{
  padding-top: 8vh;
  padding-bottom: 1rem;
}

.row
{
  margin: 0;
}

.temp-col
{
  border-style: solid;
  border-width: .05rem;
  border-radius: .5rem;
  border-color:#182747;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.temp-col h1
{
  font-size: 1rem;
}
.temp-col input
{
  align-self: flex-end;
  text-align: center;
  border-radius: .5rem;
  border-width: .05rem;
  border-color: #B7C4CF;
  height: 1.5rem;
  width: 8rem;
  font-size: 1rem;
  margin-left: 55%;
  margin-bottom: .5rem;
}
/* 

.temp-body a {
  border-radius: .35rem;
  padding: .2rem;
  color: white;
  background-image: linear-gradient(45deg, #0041C2, #4169E1);
  box-shadow: 2px 2px 3px #98AFC7;
  text-decoration: none;
} */

.formulai{
  margin-top: 2rem;
}
