<!-- Home page -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/requires/nav-bar.css">
  <link rel="stylesheet" href="styles/index.css">

</head>

<body>

  <!-- nav -->
  <div class="nav-bar">
    <!-- Brand -->
    <a class="nav-bar-link-brand" href="/">
      <h1 class="nav-bar-brand"><span>Chem</span>Charts</h1>
    </a>

    <!-- menu button -->


    <!-- Links -->
    <div class="nav-bar-links-container">

      <a class="nav-bar-link">
        <img class="nav-bar-img" src="content/images/menu.png" alt="menu">
      </a>

      <a class="nav-bar-link nav-side-link" href="#">Home</a>
      <a class="nav-bar-link nav-side-link" href="#">Graphs</a>
      <a class="nav-bar-link nav-side-link" href="#">Conversions</a>
      <a class="nav-bar-link nav-side-link" href="#">About us</a>
    </div>

  </div>
  <!-- nav -->

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="scripts/index.js">

  </script>
</body>

</html>
