<!-- Home page -->

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ChemCharts - "Everything a Chemical engineer need"</title>
  <link rel="icon" type="image/x-icon" href="css/content/icon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <link rel="stylesheet" href="styles/requires/genrel.css">
  <link rel="stylesheet" href="styles/requires/nav-bar.css">
  <link rel="stylesheet" href="styles/requires/sidebar-menu.css">
  <link rel="stylesheet" href="styles/index.css">

</head>

<body>

  <%- include("requires/nav-bar") -%>
  <%- include("requires/sidebar-menu") -%>


  <section class="home-body">


    <!-- Home -->

    <section id="Home" class="container home-container">

      <div class="row h-100 align-items-center">
        <div class="col-lg-6 col-md-6">
          <img src="content/images/Home.jpg" alt="test tubes">
        </div>

        <div class="col-lg-6 col-md-6 home-intro">
          <h2><span>Chem</span>Charts - Everything a chemical engineer needs to speed up</h2>

          <div class="row justify-content-center">
            <input type="search" class="home-search col-lg-4 col-5" placeholder="Search" />
            <button type="button" class="home-search col-lg-2 col-3">Search</button>
          </div>

          <div class=" pt-2">
            <a href="#" class="px-2 home-links">Graphs</a>
            <a href="#" class="px-2 home-links">Conversions</a>
          </div>

        </div>
      </div>

    </section>

    <!-- Home -->
    <div class="line d-flex justify-content-center">
      <hr class="w-75">
    </div>

    <!-- graph -->

    <section id="Graphs" class="my-graphs">

      <div class="container">

        <h1>Graphs</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Graph Name</th>
              <th class="table-disc" scope="col">Discription</th>
            </tr>
          </thead>
        </table>

        <div class="scrollable">

          <table class="table table-striped">
            <tbody class="graphs-container">

                <!-- Graphs will be loaded here -->

            </tbody>

          </table>

        </div>
      </div>
    </section>

    <!-- graph -->

    <div class="line d-flex justify-content-center">
      <hr class="w-75">
    </div>

    <!-- Conversions -->

    <section id="Conversions" class="my-conv">

      <div class="container">

        <h1>Conversions</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Conversion</th>
              <th class="table-disc" scope="col">Discription</th>
            </tr>
          </thead>
        </table>

        <div class="scrollable">

          <table class="table table-striped">
            <tbody class="conv-container">

                <!-- Conversions will be loaded here -->

            </tbody>

          </table>

        </div>
      </div>

    </section>

    <!-- Conversions -->

    <div class="line d-flex justify-content-center">
      <hr class="w-75">
    </div>

    <!-- About -->

    <section id="About" class="my-about">
      <div class="container">

        <h1>About us</h1>

        <div class="row align-items-center justify-content-center">

          <div class="col-lg-3 col-md-4 text-center">
            <img class="about-img" src="content/images/Logo_of_NIT_Jalandhar.png" alt="">
          </div>

          <div class="col-lg-5 col-md-5">
            <p>
              This website is made as a project by Suresh Bennabatthula and Korra Hari Krishna under the guidence of Dr.Dr Raj Kumar Arya from Dr.B.R.Ambedkar National institue of Jalandhar, Punjab.
              Visit our college website at <a href="https://www.nitj.ac.in/">nitj.ac.in</a>
            </p>
            <a class="btn btn-sm btn-outline-primary" href="https://www.nitj.ac.in/">Visit Nitj</a>
            <a class="btn btn-sm btn-outline-primary" href="mailto:sureshb.cm.19@nitj.ac.in">Write us</a>
          </div>

        </div>

      </div>
    </section>

    <!-- About -->

    <div class="line d-flex justify-content-center">
      <hr class="w-75">
    </div>

    <!-- footer -->

    <footer class="text-center my-footer">

      <div class="foot">

        <h1><span>Chem</span>Charts</h1>
        <p>Everything a chemical engineer needs to speed up <br> </p>
        <p>Designed by <span>Suresh Bennabatthula</span> and <span>Korra Hari Krishna</span></p>
      </div>

    </footer>

    <!-- footer -->

  </section>


  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
  <script type="module" src="scripts/index.js"></script>

  <script src="scripts/requires/genrel.js"></script>
  <script src="scripts/requires/nav-bar.js"></script>
  <script src="scripts/requires/sidebar-menu.js"></script>

</body>

</html>
