<!-- nav -->
<div class="nav-bar">

  <a class="sidebar-toggler">
        <img class="sidebar-toggler-img" src="content/images/slides.png" alt="menu">
      </a>

  <a class = "nav-bar-link-brand" href="/">
    <h1 class = "nav-bar-brand"><span>Chem</span>Charts</h1>
  </a>
</div>
<!-- nav -->
