<!-- nav - custom for index with links-->
<div class="nav-bar">

  <a class="sidebar-toggler">
    <img class="sidebar-toggler-img" src="content/images/slides.png" alt="menu">
  </a>
  <!-- Brand -->
  <a class="nav-bar-link-brand" href="/">
    <h1 class="nav-bar-brand"><span>Chem</span>Charts</h1>
  </a>
  <!-- Brand -->

  <!-- pageOption :  1 - mainPage || not 1 => otherPages -->
  <% if( pageOption == 1 ){ %>
  <!-- Links -->
  <div class="nav-bar-links-container">

    <!-- menu button -->
    <a class="nav-bar-link">
      <img class="nav-bar-img" src="content/images/menu.png" alt="menu">
    </a>

    <a class="nav-bar-link nav-side-link" href="#">Home</a>
    <a class="nav-bar-link nav-side-link" href="#Graphs">Graphs</a>
    <a class="nav-bar-link nav-side-link" href="#Conversions">Conversions</a>
    <a class="nav-bar-link nav-side-link" href="#About">About us</a>
  </div>
  <!-- Links -->
  <% } %>

</div>
<!-- nav -->
