<!-- Side-bar menu -->
<section class="sidebar-menu">

  <div class="sidebar-option">
    <a href="/#Home">
      <h2 class="option-info">Home</h2>
      <img class="option-img" src="content/images/icon_home.png" alt="">
    </a>
    </div>

    <div class="sidebar-option">
      <a href="/#Graphs">
        <h2 class="option-info">Graphs</h2>
        <img class="option-img" src="content/images/icon_graph.png" alt="">
      </a>
    </div>

    <div class="sidebar-option">
      <a href="/#Conversions">
      <h2 class="option-info">Conversions</h2>
      <img class="option-img" src="content/images/icon_conv.png" alt="">
      </a>
    </div>

    <div class="sidebar-option">
      <a href="/#About">
        <h2 class="option-info">About</h2>
        <img class="option-img" src="content/images/icon_info.png" alt="">
      </a>
    </div>

</section>
<!-- Side-bar menu -->
